<p id="notice"><%= notice %></p>
<div id="home" class="container-fluid p-top p-bottom">
  <div class="row wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="pt-4 pb-5">Housing</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tiles-blog">
        <div class="row">
      <% @listings.each do |listing| %>
        <% listing.images.each do |image| %>
          <div class="col-xl-3 col-md-6 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
            <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                <a href="#!">
                  <div class="tiles-image hm-zoom">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Technology/4-col/img%20%281%29.jpg" class="img-fluid" alt="">
                      <%= link_to image_tag(image.url, class: "img-fluid list-img"), listing_path(listing) %>
                  </div>
                </a>
                <div class="tiles-post-body">
                  <span class="tiles-post-category">
                    <%= link_to listing.title, listing_path(listing) %>
                  </span>
                  <h3 class="tiles-post-title h3-responsive"><a href="#!" class="white-text"><%= listing.title %></a></h3>
                  <span class="tiles-post-date grey-text"><i class="fa fa-clock-o"></i> <%= listing.created_at.strftime("%B %d %Y") %></span>
                  <span class="tiles-post-comments"><a href="#!"><i class="fa fa-comments-o"></i> 7 comments </a></span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'New Listing', new_listing_path %>
