
<div class="container p-top-2x">
    <div class="row mt-2">
        <!--First column-->
        <div class="col-lg-5 col-md-12 mb-2 center-on-small-only wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
            <% if @job.image? %>
                <%= image_tag @job.image, class: "img-fluid z-depth-5 jb-show view hm-zoom" if @job.image?  %>
            <% else %>
                <img src="http://m.tvserieshq.com/music/art/no-thumb.jpg" class="img-fluid z-depth-5 jb-show view hm-zoom" alt="">
            <% end %>
            <br>
					<h4 class="font-big font-bold font-up mb-1-half text-center"><%= @job.company %></h4>
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-lg-7 col-md-12 center-on-small wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">


            <h3 class="cyan-text-4 center"> <%= @job.title.titleize %></h3>
            <hr>
            <p class="grey-text mb-2" align="justify"> <%= @job.description %></p>
            <a href="#!" class=" waves-effect waves-light">
                <i class="fa fa-id-card fa-2x grey-text"></i>&nbsp;&nbsp;
            </a>
            <% if current_user || current_user.admin? %>
                <%= link_to "", job_path(@job), method: :delete, data: { confirm: "Are you sure?", class: "fa fa-trash fa-2x text-danger" } %>
            <% end %><br>
						<div class="center">
							<% if @reviews.any? %>
            	<div class="star-rating" data-score= <%= @avg_rating %> ></div>
              <p>Based on <%= @reviews.count %> <%= "review".pluralize(@reviews.count) %> </p>
            <% end %>
						</div>
        </div>
        <!--/Second column-->
        <br>
    </div>
    <hr>
    <% if @reviews.any? %>
        <div class="left">
            <%= render @job.reviews %>
        </div>
			<% else %>
        <h5 class="h5-responsive">
          No reviews yet!
        </h5>
			<% end %>
</div>
<script type="text/javascript">
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>