<div class="container-fluid p-top">
    <!-- First row -->
    <div class="row">
        <!-- First column -->
        <div class="col-md-8">
            <div class="row mb-1">
                <div class="col-md-9">
                    <h4 class="h4-responsive mt-1">Dashboard</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-1">
                    <!-- Tabs -->
                    <!-- Nav tabs -->
                    <div class="tabs-wrapper">
                        <ul class="nav classic-tabs tabs-primary primary-color" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light active" data-toggle="tab" href="#panel83" role="tab" aria-expanded="false">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel84" role="tab" aria-expanded="true">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <!--Panel 1-->
                        <div class="tab-pane fade" id="panel83" role="tabpanel" aria-expanded="false">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Organizer</th>
                                            <th>Venue</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% Event.all.each do |event| %>
                                        <tr>
                                            <th scope="row"><%= event.id %></th>
                                            <td><%= event.organizer.first_name.capitalize %></td>
                                            <td><%= event.address %></td>
                                            <td><%= event.start_date %></td>
                                            <td>
                                              <%= link_to '', edit_event_path(event), { :class => 'fa fa-pencil tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => '', 'data-original-title' => 'Edit' } %>
                                                <%= link_to '', event_path(event), { method: :delete, data: {confirm: "Are you sure?"}, class: 'fa fa-trash text-danger tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => '', 'data-original-title' => 'Remove' } %>
                                            </td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/.Panel 1-->
                       
                        <!--Panel 2-->
                        <div class="tab-pane fade active show" id="panel84" role="tabpane2" aria-expanded="true">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Company Name</th>
                                            <th>Job Title</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                      <% Job.all.each do |job| %>
                                        <tr>
                                            <th scope="row"><%= job.id %></th>
                                            <td><%= job.company.titleize %></td>
                                            <td><%= job.title.titleize %></td>
                                            <td>
                                                <%= link_to '', edit_job_path(job), { :class => 'fa fa-pencil tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => '', 'data-original-title' => 'Edit' } %>
                                                <%= link_to '', job_path(job), { method: :delete, data: {confirm: "Are you sure?"}, class: 'fa fa-trash text-danger tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => '', 'data-original-title' => 'Remove' } %>
                                            </td>
                                          </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/.Panel 2-->
                    </div>
                    <!-- /.Tabs -->
                </div>
            </div>
        </div>
        <!-- /.First column -->
        <!-- Second column -->
        <div class="col-md-4 mb-1">
            <div class="card contact-card with-padding">
                <div class="card-body">
                    <div class="mt-1 mb-1">
                        <img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" alt="" class="img-fluid rounded-circle contact-avatar mx-auto">
                    </div>
                    <h3 class="h3-responsive text-center"><%= current_user.full_name.titleize %></h3>
                    <p class="text-center grey-text">Marketing Analyst</p>
                    <ul class="striped">
                        <li><strong>E-mail address:</strong> <%= current_user.email %></li>
                        <li><strong>Phone number:</strong> +1 234 5678 90</li>
                        <li><strong>Company:</strong> The Company, Inc</li>
                        <li><strong>Twitter username:</strong> @anna.doe</li>
                        <li><strong>Instagram username:</strong> @anna.doe</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.Second column -->
    </div>
    <!-- /.First row -->
</div>