<p id="notice"><%= notice %></p>

<main>
        <div class="container-fluid">
               
            <!-- Top news -->
            <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <!-- First column -->
                <div class="col-xl-8">

                    <!--Carousel Wrapper-->
                    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-2" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-2" data-slide-to="2" class=""></li>
                        </ol>
                        <!--/.Indicators-->

                        <!-- Slides -->
                        <div class="carousel-inner" role="listbox">
                          
                           <!-- First slide -->
                            <div class="carousel-item active">
                                <!--Mask color-->
                                <div class="view hm-black-light">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%28108%29.jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!-- Caption -->
                                <div class="carousel-caption">
                                    <div class="fadeInDown">
                                        <h3 class="h3-responsive">Fashion &amp; Lfestyle</h3>
                                        <p>This is title of the news.</p>
                                    </div>
                                </div>
                                <!-- Caption -->
                            </div>
                            <!--/ First slide -->
                            
                            <!-- Second slide -->
                            <div class="carousel-item">
                                <!-- Mask color -->
                                <div class="view hm-black-light">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%28125%29.jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!-- Caption -->
                                <div class="carousel-caption">
                                    <div class="fadeInDown">
                                        <h3 class="h3-responsive">Travel</h3>
                                        <p>This is title of the news.</p>
                                    </div>
                                </div>
                                <!--/ Caption -->
                            </div>
                            <!--/ Second slide -->

                            <!-- Third slide -->
                            <div class="carousel-item">
                                <!-- Mask color -->
                                <div class="view hm-black-light">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%28118%29.jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!-- Caption -->
                                <div class="carousel-caption">
                                    <div class="fadeInDown">
                                        <h3 class="h3-responsive">Food</h3>
                                        <p>This is title of the news.</p>
                                    </div>
                                </div>
                                <!--/ Caption -->
                            </div>
                            <!--/ Third slide -->
                        </div>
                        <!--/ Slides -->

                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/ Carousel Wrapper -->

                </div>
                <!--/ First column -->

                <!-- Second column -->
                <div class="col-xl-4 hidden-lg-down">

                    <!-- Tile widget news -->
                    <div class="tile-widget">
                        <!-- First row -->
                        <div class="row">
                            <!-- First column -->
                            <div class="col-xl-12">
                                <!-- Image -->
                                <div class="view hm-zoom hm-black-light z-depth-2">
                                    <a href="#!">
                                        <img src="https://mdbootstrap.com/img/Photos/Inne/img%20%282%29.jpg" class="img-fluid" alt="">
                                        <div class="mask waves-light waves-effect waves-light">
                                            <p class="tile-title big-title">Madrid - the most beautiful city in Spain</p>
                                        </div>
                                    </a>
                                </div>
                                <!--/ Image -->
                            </div>
                            <!--/ First column -->
                        </div>
                        <!--/ First row -->

                        <br>

                        <!-- Second row -->
                        <div class="row">
                            <!-- First column -->
                            <div class="col-xl-6">
                                <!-- Image -->
                                <div class="view hm-zoom hm-black-light z-depth-2">
                                    <a href="#!">
                                        <img src="https://mdbootstrap.com/img/Photos/Inne/img%20%284%29.jpg" class="img-fluid " alt="">
                                        <div class="mask waves-light waves-effect waves-light">
                                            <p class="tile-title small-title">Top 5 restaurants in Paris - choose your favourite one</p>
                                        </div>
                                    </a>
                                </div>
                                <!--/ Image -->     
                            </div>
                            <!--/ First column -->

                            <!-- Second column--> 
                            <div class="col-xl-6">
                                <!-- Image -->
                                <div class="view hm-zoom hm-black-light z-depth-2">
                                    <a href="#!">
                                        <img src="https://mdbootstrap.com/img/Photos/Inne/img%20%283%29.jpg" class="img-fluid " alt="">
                                        <div class="mask waves-light waves-effect waves-light">
                                            <p class="tile-title small-title">Which foods help the immune system?</p>
                                        </div>
                                    </a>
                                </div>   
                                <!--/ Image -->   
                            </div>
                            <!--/ Second column -->
                        </div>
                        <!--/ Second row--> 
                    </div> 
                    <!--/ Tile widget news -->
                    
                </div>
                <!--/ Second column -->
            </div>
            <!--/ Top news -->
            <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <h2 class="h2-responsive">What's new?</h2>
            </div>
            <!-- Magazine -->
            <div class="row">
                <!-- Main news --> 
                <div class="col-md-12">
                    
                    <!-- Section: Magazine v.1 -->
                    <section class="section magazine-section wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!-- First row -->
                        <div class="row text-left">
                        <% @events.each do |event| %>
                            <% event.images.each do |img| %>
                                <!-- First column -->
                                <div class="col-lg-6 col-md-12">

                                    <!-- Featured news -->
                                    <div class="single-news">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight">
                                            <%= link_to image_tag(img.url), event_path(event)  %>
                                            <a>
                                                <div class="mask waves-light waves-effect waves-light"></div>
                                            </a>
                                        </div>

                                        <!--Excerpt-->
                                        <div class="news-data">
                                            <a href="" class="indigo-text"><h5><i class="fa fa-star-half-o"></i>Work</h5></a>
                                            <p><strong><i class="fa fa-clock-o"></i> <%= event.created_at.strftime("%B %d %Y")  %></strong></p>
                                        </div>
                                        
                                        <h3><%= link_to(event.title, event_path(event)) %></h3>
                                        
                                        <p><%= simple_format(event.description)  %></p>

                                    </div>
                                    <!--/ Featured news -->
                                </div>
                                <!--/First column-->
                            <% end %>
                        <% end %>

                        </div>
                        <!--/First row-->
                    </section>
                    <!--/ Section: Magazine v.2 -->
                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h2 class="h2-responsive">Lifestyle &amp; Celebrities</h2>
                    </div>
                    <!-- Section: Magazine v.3 -->
                    <section class="section magazine-section multi-columns wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <!--Section description-->
                        <p class="section-description">Health, style, sport or anything from lifestyle. We will inform you about new trends in fashion, healthy nutrition and about what happened in the world of celebrities.</p>

                        <!--First row-->
                        <div class="row text-left">

                            <!--First column-->
                            <div class="col-lg-4 col-md-12 mb-r">

                                <!--Featured news-->
                                <div class="single-news">

                                    <!--Image-->
                                    <a href="" class="orange-text"><h5><i class="fa fa-coffee"></i> Health</h5></a>

                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(78).jpg">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    
                                    <a><strong>6 Big Myths About Hydration.</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>

                                </div>
                                <!--/Featured news-->
                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-4 col-md-6 mb-r">

                                <!--Featured news-->
                                <div class="single-news">

                                    <!--Image-->
                                    <a href="" class="indigo-text"><h5><i class="fa fa-camera"></i> Lifestyle</h5></a>

                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                    <a><strong>Top 5 places for photographs.</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!--Third column-->
                            <div class="col-lg-4 col-md-6 mb-r">
                                <!--Featured news-->
                                <div class="single-news">
                                    <!--Image-->
                                    <a href="" class="pink-text"><h5><i class="fa fa-heart"></i> Fashion</h5></a>
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg">
                                        <a>
                                            <div class="mask waves-light waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                    <a><strong>What colors fit to brunette girl?</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>

                                </div>
                                <!--/Featured news-->
                            </div>
                            <!--/Third column-->
                        </div>
                        <!--/First row-->
                    </section>
                    <!--/ Section: Magazine v.3 -->
                </div>
                <!--/ Main news -->
            </div>
            <!--/ Magazine -->
        </div>
    </main>
<div class="center">
    <%= link_to 'New Event', new_event_path, class: "btn btn-rounded btn-outline-white info-color" %>    
</div>