<div class="container">
     <div class="row mt-1">
                <!--Main listing-->
                <div class="col-md-12">

                    <!--Section: Post-->
                    <section class="section section-blog-fw">

                        <!--First row-->
                        <div class="row">

                            <div class="col-md-12">

                                <!--Featured image-->
                               <% if @post.image? %>
                                    <%= image_tag @post.image, class: "img-fluid" %>
                                <% else %>
                                    <img src="https://www.pfsuites.com/images/no_image_available.png" class="image-fluid hm-zoom" style="width: 100%; height: 625px;" alt="Empty Image">
                                <% end %>
                                <!--Post data-->
                                <div class="jumbotron wow fadeIn malibu" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                    <h2><%= @post.title.titleize %></h2>
                                    <p>Written by <a href="#!" class="black-text"><%= @post.user.full_name.titleize %></a> on <%= @post.created_at.strftime("%B %d, %Y") %></p>

                                    <!--Social shares-->
                                    <div class="social-counters">

                                        <!--Facebook-->
                                        <a class="btn btn-fb waves-effect waves-light">
                                            <i class="fa fa-facebook left"></i>
                                            <span class="hidden-md-down ">Facebook</span>
                                        </a>
                                        <span class="counter">98</span>

                                        <!--Twitter-->
                                        <a class="btn btn-tw waves-effect waves-light">
                                            <i class="fa fa-twitter left"></i>
                                            <span class="hidden-md-down">Twitter</span>
                                        </a>
                                        <span class="counter">75</span>

                                        <!--Google+-->
                                        <a class="btn btn-gplus waves-effect waves-light">
                                            <i class="fa fa-google-plus left"></i>
                                            <span class="hidden-md-down">Google+</span>
                                        </a>
                                        <span class="counter">87</span>

                                        <!--Comments-->
                                        <a class="btn btn-mdb waves-effect waves-light">
                                            <i class="fa fa-comments-o left"></i>
                                            <span class="hidden-md-down">Comments</span>
                                        </a>
                                        <span class="counter comments-count"><%= @post.comments.count %></span>

                                    </div>
                                    <!--/.Social shares-->

                                </div>
                                <!--/Post data-->

                                <!--Post text-->
                                <div class="post-text wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                                    <p><%= simple_format(@post.content) %></p>
                                </div>
                                <!--/Post text-->
                            </div>

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/.Section: Post-->

                    <!--Section: Comments list-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">


                        <!--Main wrapper-->
                        <div class="comments-list text-left">
                            <div class="section-heading">
                                <h3 class="mt-2 mb-3"><span class="badge info-color comments-count"><%= @post.comments.count %></span> <%= link_to 'Comment'.pluralize, "#", id: "comments-link" %> </h3>
                            </div>
                            <% @comments.each do |comment| %>
                                <!--First row-->
                                <div id="comments-section">
                                    <div class="row">
                                        <!--Image column-->
                                        <div class="col-sm-2 col-md-12">
                                            <%= gravatar_for(comment.user, size: 150) %>
                                        </div>
                                        <!--/.Image column-->
                                        <!--Content column-->
                                        <div class="col-sm-2 col-md-12">
                                            <a><h3 class="user-name"><%= @post.user.full_name.titleize %></h3></a>
                                            <div class="card-data">
                                                <ul>
                                                    <li class="comment-date"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %> ago</li>
                                                </ul>
                                                <div id="comments">
                                                    <%= simple_format(comment.content) %>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--/.Content column-->
                                </div>
                            </div>
                                    <!--/.First row-->
                            <% end %>
                        </div>
                        <!--/.Main wrapper-->
                                                <br />
                        <div class="center">
                            <div class="text-center">
                                <%= will_paginate(@comments, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
                            </div>
                        </div><br>
                    </section>
                    <!--/Section: Comments list-->
                    <hr class="between-sections wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <!--Section: Leave a reply (Logged In User)-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--Leave a reply form-->
                        <div class="reply-form">
                            <h1 class="section-heading">Post a comment </h1>
                            <p class="text-center"><%= current_user.first_name.capitalize if current_user %></p>

                            <% if @post.comments != 0 %>
                                        <p class="comment-text"><%= render partial: 'comments/form', object: @comments %></p>

                            <% end %>
                        </div>
                        <!--/.Leave a reply form-->

                    </section>
                    <!--/Section: Leave a reply (Logged In User)-->

                </div>
                <!--/.Main listing-->

            </div>
            <!--/.Blog-->

        </div>

<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>

